// GENERAL STRUCTURE
body {
  background-color: color(dark-main);
}

#container {
  margin: auto;
  justify-content: center;
  min-height: 100vh;
}

@supports (display: flex) and (display: grid) and
  (
    (perspective: 10px) or (-moz-perspective: 10px) or
      (-webkit-perspective: 10px) or (-ms-perspective: 10px)
  )
  and
  (
    (-moz-clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%)) or
      (-webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%)) or
      (clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%))
  )
  and
  (
    (-webkit-transform: translate(-50%, -50%) rotate(-130deg)) or
      (-ms-transform: translate(-50%, -50%) rotate(-130deg)) or
      (transform: translate(-50%, -50%) rotate(-130deg))
  )
  and
  (
    (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent) or
      (-moz-background-clip: text)
  )
  and (animation: change-position-shadow ease-in 1.5s forwards) {
  .not-supported {
    display: none;
  }
}

// UNSUPPORTED BROWSERS
@supports (display: flex) and (display: grid) and
  (
    (perspective: 10px) or (-moz-perspective: 10px) or
      (-webkit-perspective: 10px) or (-ms-perspective: 10px)
  )
  and
  (
    (-moz-clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%)) or
      (-webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%)) or
      (clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%))
  )
  and
  (
    (-webkit-transform: translate(-50%, -50%) rotate(-130deg)) or
      (-ms-transform: translate(-50%, -50%) rotate(-130deg)) or
      (transform: translate(-50%, -50%) rotate(-130deg))
  )
  and
  (
    (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent) or
      (-moz-background-clip: text)
  )
  and (animation: change-position-shadow ease-in 1.5s forwards) {
  .not-supported {
    display: none;
  }
}

.not-supported {
  padding: 0;
  margin: 0;
  width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
  color: color(error);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 5px;
  background-color: color(greyed-out);
  z-index: 1;
}

// OPTIONS MENU
#options-menu {
  min-width: 250px;
  width: 10%;
  padding-left: 10px;
  position: fixed;
  right: 80%;
  z-index: 10;
}

.filter-section {
  @include section-setting;
  &__heading {
    position: relative;
    color: color(grey-3);
    font-family: $font-secondary;
    font-size: 1.2rem;
  }
  &__text {
    font-family: $font-main;
    font-size: 1rem;
    color: color(greyed-out);
  }
}

.functionalities-section {
  position: relative;
  @include section-setting;
  margin-bottom: 3rem;
  &__heading {
    position: relative;
    color: color(grey-3);
    font-family: $font-secondary;
    font-size: 1.2rem;
  }
  &__btn {
    position: relative;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 50px;
    width: 90%;
    padding: 4px;
    text-align: justify;
    margin: 10px;
    border-top: solid 2px transparentize(color(grey-1), 0.3);
    border-right: solid 2px transparentize(color(grey-3), 0.7);
    border-bottom: solid 2px transparentize(color(grey-3), 0.7);
    border-left: solid 2px transparentize(color(grey-1), 0.3);
    box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.7);
    fill: color(grey-1);
    color: color(grey-1);
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &:focus {
      outline: none;
    }

    &__icon {
      width: 1.4rem;

      position: absolute;
      left: 0.5rem;
      top: 0.4rem;
    }
    &__text {
      font-family: $font-secondary;
      font-weight: 500;
      font-size: 1.4rem;

      position: relative;
      left: 1.8rem;
    }
  }
}

.line {
  border: none;
  border-top: 1px solid color(grey-2);

  width: 50%;
  margin: 2rem auto 1rem;
}

.more-resources {
  text-align: center;
  font-family: $font-secondary;
  &__heading {
    margin: auto;
    color: color(grey-2);
    margin-top: 1rem;
    font-family: $font-main;
    font-size: 1.2rem;
    width: 90%;
  }
  &__grid {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    color: color(grey-2);
    margin-top: 2rem;
    &__item {
      border-radius: 5px;
      border-top: solid 1px transparentize(color(grey-1), 0.3);
      border-right: solid 1px transparentize(color(grey-3), 0.7);
      border-bottom: solid 1px transparentize(color(grey-3), 0.7);
      border-left: solid 1px transparentize(color(grey-1), 0.3);
      box-shadow: 1px 1px 2px 2px rgba($color: #000000, $alpha: 0.7);
      background-color: rgba(0, 0, 0, 0);
      width: 6rem;
      height: auto;
      margin: auto;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &__icon {
        object-fit: none;
        fill: color(grey-3);
        width: 50%;
        height: auto;
      }
      &__label {
        color: color(grey-2);
      }
    }
  }
  &__label {
    margin-top: 0.5rem;
  }
  &__placeholder {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: color(greyed-out);
  }
}

// FOOTER
.footer {
  font-family: $font-secondary;
  font-size: 0.8rem;
  color: color(grey-2);
  margin: 1rem;
  text-align: center;
}

// MAIN AREA
#main-area {
  position: absolute;
  left: 20%;
  width: 60%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  min-height: 120vh;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: color(dark-main);
}

.page-container {
  display: none;
}

.pages {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 20px;
}

.about {
  @include dark-box;
  background-color: color(grey-1);
  color: black;
  font-family: $font-secondary;
  padding: 10px;
  display: none;
  &__heading {
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
  }
  &__subheading {
    text-align: justify;
    padding: 5px;
    font-size: 1.2rem;
  }
  &__text {
    text-align: justify;
    padding: 7px;
    font-size: 1rem;
  }
}

.active-section {
  display: block !important;
}

// PREVIEW MENU
.preview {
  position: fixed;
  left: 80%;
  width: 15%;
  min-width: 250px;
  margin: auto;

  &__details {
    &__title {
      text-align: center;
      font-family: $font-main;
      font-size: 1.3rem;
      color: color(grey-1);
      @include dark-box;
      margin-bottom: 0.7rem;
    }
    &__description {
      @include dark-box;
      margin-top: 0;
      font-family: $font-secondary;
      font-size: 0.8rem;
      color: color(grey-1);
      padding: 1rem;
      overflow-wrap: break-word;
      text-align: justify;
    }
  }
}

.unavailable {
  display: none;
  @include dark-box;
  font-family: $font-secondary;
  color: color(grey-1);
  padding: 10px;

  &__icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    fill: color(grey-2);
  }
  &__heading {
    font-size: 1.6rem;
    text-align: center;
  }
  &__text {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: justify;
  }
}

// RESPONSIVENESS WARNING
@media screen and (max-width: 1250px) {
  #container {
    display: none;
  }
  .unavailable {
    display: block;
  }
}
